header {
  font-family: var(--bold-font);
  color: #f5f5f5;
  display: flex;
  align-items: center;
  position: absolute;
  margin: 10px 0 0 10px;
  z-index: 50;
}

header ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-left: 15px;
}

ul li a {
  text-decoration: none;
  color: #f5f5f5;
}

ul li a:hover {
  text-decoration: underline;
  transition: 0.7s;
}

@media (max-width: 425px) {
  .mobileHeader {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 10px 0 0 20px;
  }
  .mobileHeader .mainTitle {
    width: 60%;
  }

  .mobileMenu {
    position: absolute;
    top: 0;
    background-color: #f5f5f5;
    display: flex;
    height: 75px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .mobileMenu button {
    border: 0;
  }
  .mobileMenu a {
    color: black;
  }
}
