.topPage {
  display: flex;
  height: 70vh;
}

.slider-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-image {
  transition: opacity 0.5s ease-in;
  opacity: 1;
}

.slider-image-exit {
  opacity: 0;
}

.navbuttons {
  position: absolute;
  left: 61.5%;
  bottom: 22.5%;
}

.navbuttons button {
  background-color: #000000;
  cursor: pointer;
  border: none;
  padding: 25px;
}

.navbuttons button:hover {
  transition: 300ms;
  background-color: rgb(69, 69, 69);
}

.description {
  width: 30%;
  margin: 0 auto;
  font-family: var(--normal-font);
  align-content: center;
}

.description h3 {
  font-family: var(--bold-font);
  font-size: 38px;
  line-height: 45px;
  margin-bottom: 25px;
}

.description p {
  color: hsl(0, 0%, 63%);
  line-height: 25px;
  margin-bottom: 25px;
}

.shopNow a {
  font-family: var(--normal-font);
  text-decoration: none;
  color: #000000;
  font-size: large;
  letter-spacing: 10px;
}

.shopNow a:hover {
  cursor: pointer;
  color: hsl(0, 0%, 63%);
  transition: 300ms;
}
